data/*
!data/frontend/git.keep
!data/frontend/2024-10-23_example.log
!data/preprocessing/git.keep
!data/training/git.keep
!data/training/scoring_model_latest.pkl
feature_store/data
!feature_store/data/git.keep
.venv
.idea
**/__pycache__/